exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(dummies)
import(MASS)
import(moments)
import(reshape2)
import(car)
import(penalized)
import(plyr)
import(sn)
import(parallel)
S3method(coef, mvdareg)
S3method(coefficients, mvdareg)
S3method(ellipse, mvdalab)
S3method(model.matrix, mvdareg)
S3method(plot, R2s)
S3method(plot, cp)
S3method(plot, mvcomp)
S3method(plot, mvdapca)
S3method(plot, mvdareg)
S3method(plot, smc)
S3method(plot, sr)
S3method(plot, vip)
S3method(predict, mvdareg)
S3method(print, R2s)
S3method(print, empca)
S3method(print, mvcomp)
S3method(print, mvdapca)
S3method(print, mvdareg)
S3method(print, roughImputation)
S3method(print, seqem)
S3method(print, smc)
S3method(print, sr)
S3method(print, vip)
S3method(summary, mvdareg)
S3method(weights, mvdareg)
